.mixin.out
.idea
.probe
.vscode
kubejs/client_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/config/probe-settings.json
logs
mods
moddata
patchouli_books
patchouli_data
saves
screenshots
simplebackups
journeymap
resourcepacks
command_history
minecraftinstance
options
realms_persistence
usercache
usernamecache